<section class="section border-top">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-8">
        <h2 class="mb-2">Activities</h2>
        <p class="text-muted">
          Presentation of my work at symposia, expositions and other activities.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled">

          <li class="mb-2">
            <strong>TU/e Sof Robotics Event (EAISI)</strong>, 4 November 2025, Eindhoven — <em>Embodiment in Control</em> - (Demo Presentation) — 
            <a href="https://www.linkedin.com/posts/robotics-tue_softrobotics-eindhoven-robotics-activity-7405261585495240704-vNW4/" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>Unconventional Robotics Symposium</strong>, 1 October 2025, Delft — <em>Embodiment in Control</em> - (Poster Session) — 
            <a href="https://www.linkedin.com/posts/cosimodellasantina_are-1k-fee-conferences-really-the-only-activity-7367064204094152705-6MbF/" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>Functionality through Nonlinearity (FTN)</strong>, 19–20 June 2025, London — <em>Internship Project</em> - (Poster Session) — 
            <a href="https://www.non-linearity.com/ftn2025pics" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>IEEE RoboSoft Arts & Photography Expo</strong>, 23–24 April 2025 — <em>Aesthetics in Soft Robotic Systems</em> - (Exhibition) — 
            <a href="https://robosoft2025.org/arts-expo/" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>Dutch Soft Robotics Symposium</strong>, 28–29 May 2024 — <em>Aesthetics in Soft Robotic Systems</em> - (Demo Presentation) — 
            <a href="https://dutchsoftrobotics.nl/events/dutch-soft-robotics-symposium-2024" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong> Workshop Jonas Jørgensen (EAISI)</strong>, 14 May 2024, Eindhoven — <em>Aesthetics in Soft Robotic Systems</em> - (Demo Presentation) — 
            <a href="https://www.linkedin.com/posts/rainbowwinters_softrobotaesthetics-sdusoftrobotics-materialaestheticslab-activity-7204842396411424770-Coyi?utm_source=share&utm_medium=member_desktop&rcm=ACoAAClSM6wBOGBeBVQLphDPbMkZnhdHqUru2kE" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>Opening of the Academic Year TU/e</strong>, 4 September 2023, Eindhoven — <em>Chair of the Future (GGO)</em> - (Project Presentation) — 
            <a href="https://www.youtube.com/watch?v=aLUzShNrnAY" target="_blank" rel="noopener">Link (1:36:50)</a>
          </li>

          <li class="mb-2">
            <strong>Green Room Exposition</strong>, March–September 2023 — <em>Museum of the Future Exposition</em> — 
            <a href="https://www.instagram.com/p/CqsIqF4g5IJ/" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>Dutch Design Week (DDW)</strong>, 2023, Eindhoven — <em>Shape-Changing Liquid Crystal Fibers</em> — (Exhibition) —
            <a href="https://www.4tu.nl/du/projects/multidisciplinary-material-programming-for-soft-robotics/" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>Material District Expo</strong>, 5–7 April 2022, Utrecht — <em>Food for Packaging</em> — (Exhibition) —
            <a href="https://issuu.com/materialdistrict/docs/mdu2022_show-catalogue" target="_blank" rel="noopener">Link</a>
          </li>

          <li class="mb-2">
            <strong>Dutch Design Week (DDW)</strong>, 2021, Eindhoven — <em>Food for Packaging</em> — (Exhibition) —
			<a href=" https://www.dutchdesignfoundation.com/updates/wde-spotlight-lio-huntjens/" target="_blank" rel="noopener">Dutch Design Foundation Article</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>