<section class="footer">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6">
				<p class="mb-0">© 2026 | Lio Huntjens</p>
			</div>
			<div class="col-lg-6">
				<div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a href="https://www.instagram.com/portfolio_huntjens/" target="_blank"><i class="ti-instagram mr-3"></i></a>
						</li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/lio-huntjens" target="_blank"><i class="ti-linkedin mr-3"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>