<section class=" portfolio ">
	<div class="container">
		<div class="row mb-5 justify-content-center">
	      	<div class="col-10 text-center">
		        <div class="btn-group btn-group-toggle " data-toggle="buttons">
		          <label class="btn active ">
		            <input type="radio" name="shuffle-filter" value="projects" checked="checked" />All Projects
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="sr" />Soft Robotics
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="id" />Industrial Design
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="me" />Mechanical Engineering
		          </label>
		           <label class="btn">
		            <input type="radio" name="shuffle-filter" value="other" />Other
		          </label>
		        </div>
	      	</div>
    	</div>	

		<div class="row shuffle-wrapper portfolio-gallery">

	      <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;projects&quot;,&quot;id&quot;,&quot;sr&quot;]">
		      	<div class="position-relative inner-box overflow-hidden">
		          <a href="master-research-project.html" class="image position-relative d-block">
	               <img src="images/portfolio/researchproject1.png" alt="Project 1" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <div class="overlay-content">
	                      <h5 class="mb-0">Aesthetics in Soft Robotics</h5>
	                      <p>Master Research Project - M1.2</p>
						</div>
	                  </div>
	                </div> 
	            </a>
		      </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;projects&quot;,&quot;sr&quot;,&quot;id&quot;,&quot;me&quot;]">
	        <div class="position-relative inner-box overflow-hidden">
	            <a class="image position-relative d-block" href="fmp-present.html">
	               <img src="images/portfolio/fmp1.png" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <div class="overlay-content" >
	                      <h5 class="mb-0">Embodiment in Control</h5>
	                      <p>Final Master Project (Present)</p>
						</div>
	                  </div>
	                </div> 
	            </a>
	        </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;projects&quot;,&quot;id&quot;]">
	        <div class="position-relative inner-box overflow-hidden">
	            <a class="image position-relative d-block" href="past-projects.html">
	               <img src="images/portfolio/lcf_project.png" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <div class="overlay-content">
	                      <h5 class="mb-0">Design and Fabrication of Liquid Crystal Fibers </h5>
	                      <p>Joint Course CE, ID & ME - M2.1</p>
						</div>
	                  </div>
	                </div> 
	            </a>
	        </div>
	      </div>

	    </div>
	</div>
</section>