<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
				 	Portfolio of a(n) <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Industrial Designer </b>
                        <b>Mechanical Engineer</b>
                    </span>
                </h2>
                <p>Welcome to my portfolio website <br>See my journey through design and engineering</p>
			</div>
		</div>
	</div>
</section>
